<div class="fixed-action-btn">
    <span class="btn-floating pulse btn-large green">
      <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_outlay_path %>
    </span>
</div>

<%# <%= render my_outlays %> 