@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "bootstrap";
@import "bootstrap-multiselect";

.logo {
  font-family: 'Pacifico', cursive;
}

.h-header {
   margin: 100px auto;
   font-family: 'Pacifico', cursive;
   font-size: 5rem;
}
 .padding-for-new-entry{
   padding-bottom: 100px;
 }

 body{
   background-color: #f5f6f8;
   color: #434b54;
   font-family: "lato", sans-serif;
 }

