@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.logo {
  font-family: 'Pacifico', cursive;
}

.h-header {
   margin: 100px auto;
   font-family: 'Pacifico', cursive;
   font-size: 5rem;
}
 .padding-for-new-entry{
   padding-bottom: 100px;
 }

 body{
   background-color: #d9dfeb;
   color: #434b54;
   font-family: "lato", sans-serif;
 }

 .group-img {
   width: 80px;
   height: 80px;
   object-fit: cover;
}

.outlay_image_icon {
  height:100px;
  width: 100px;
  padding: 0.3;
}


.avatar {
  border-radius: 90%;  
  height: 80px;
  
}

.profile_img {
  height: 225px;
  width: 225px;
}
.profile_info {
 font-size: 1rem;
 margin-left: 0.5rem;
}
.profile_link:hover {
  color: #14abb1;
}
.pg-profile {
  color: #0d2b52;
  background-color: #021844;
}