@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "bootstrap";
@import "bootstrap-multiselect";

.logo {
  font-family: 'Pacifico', cursive;
}

.h-header {
   margin: 100px auto;
   font-family: 'Pacifico', cursive;
   font-size: 5rem;
}
 .padding-for-new-entry{
   padding-bottom: 100px;
 }

 body{
   background-color: #f5f6f8;
   color: #434b54;
   font-family: "lato", sans-serif;
 }

 .group-img {
   width: 80px;
   height: 80px;
   object-fit: cover;
}

.outlay_image_icon {
  height:100px;
  width: 100px;
  padding: 0.3;
}
.avatar {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.avatar {
  border-radius: 50%;
  // also might be good to set width and height
  
}
