// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.group-img {
   width: 80px;
   height: 80px;
   object-fit: cover;
}